<!DOCTYPE html>
<html>
<head>
    <title>clothing List</title>
</head>
<body>
    <h1>clothing List</h1>
  
    <table border="1">
        <thead>
            <tr>
                <th>Style</th>
                <th>Colors</th>
                <th>Number of pieces</th>
            </tr>
        </thead>
        <tbody>
            {% for vals in i %}
            <tr>
        return f"{self.Style}"
                <td>{{ vals.Style }}</td>
                <td>{{ vals.colors}}</td>
                <td>{{ vals.number_of_pieces}}</td>
               
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>