<!DOCTYPE html>
<html>
<head>
    <title>groceries List</title>
</head>
<body>
    <h1>groceries List</h1>
  
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>brand</th>
                <th>Cost</th>
            </tr>
        </thead>
        <tbody>
            {% for vals in i %}
            <tr>
        return f"{self.Style}"
                <td>{{ vals.Name }}</td>
                <td>{{ vals.Brand}}</td>
                <td>{{ vals.cost}}</td>
               
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>